/* Стили для контейнера слайдера */
#slider-section {
    width: 100vw;
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    position: relative;
    min-height: 560px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.swiper-slide-text {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.swiper-slide h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;

    margin: 0;
}

.swiper-slide p {
    max-width: 472px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.swiper-slide-image {
    position: relative;
}

.swiper-breadcrumb {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 5px 10px;
    border-radius: 5px;

    color: white;
    z-index: 1;
}

.swiper-breadcrumb-list {
    display: flex;
    text-align: center;
    gap: 10px;
    margin: 0;
    padding: 0;

    text-transform: uppercase;
}

.breadcrumb-element {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-content: center;
    line-height: 10px;
}

.breadcrumb-element::after {
    content: url(../../img/svg/dot.svg);
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: -2.5px;
}

.breadcrumb-element:last-child::after {
    content: '';
}

.swiper-pagination {
    position: absolute;
    z-index: 1;
}

.swiper-slide-text {
    position: absolute;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    padding: 0 70px;
    z-index: 1;
}
