body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1920px;
}
.nav {
    display: grid;
    grid-template-columns: 303px 4.26fr 1fr auto;
    padding: 33px 64px;
    align-items: center;
    max-width: 1920px;
}

.nav__burger {
    display: none;
}

.nav__list,
.nav__actions {
    display: flex;
    gap: 24px;
    align-items: center;
}
.nav__list {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.64px;
}
.nav__phone {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.nav__phone-number {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #1f2020;
    line-height: 20px;
    letter-spacing: -0.3px;
}
.nav__phone-text {
    font-size: 14px;
    opacity: 30%;
    line-height: 16px;
}
.action {
    width: 22px;
    height: 22px;
}
.action-find {
    background: url("img/svg/find.svg") no-repeat;
}
.action-profile {
    background: url("img/svg/profile.svg") no-repeat;
}
.action-heart {
    background: url("img/svg/heart.svg") no-repeat;
}
.action-cabinet {
    min-width: 24px;
    min-height: 24px;
    background-color: #7bb899;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-style: medium;
}

#catalog-section {
    display: flex;
    flex-direction: columns;
    justify-content: space-between;
}

.section-aside {
    padding: 72px 138px 0 64px;
}

.section-products {
    width: 100%;
    padding: 72px 64px 0 0;
}
.aside-action {
    min-width: 165px;
    display: flex;
    align-items: center;
}
.aside-action label {
    font-size: 12px;

    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.products-top {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: black;
    height: 312px;
}

.products-top-count {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.6px;
}

@media (width < 1441px) {
    .nav {
        grid-template-columns: repeat(4, auto);
    }
    .nav__actions {
        justify-content: right;
    }
}

@media (width < 1250px) {
    .nav {
        grid-template-columns: auto auto 150px auto;
        gap: 15px;
    }
    .nav__list {
        gap: 12px;
    }
    .nav__actions {
        gap: 12px;
    }
}

@media (width < 1075px) {
    .nav {
        grid-template-columns: repeat(3, auto);
        align-items: center;
    }
    .nav__logo {
        justify-self: center;
    }
    .nav__list,
    .nav__phone,
    .action-find,
    .action-heart,
    .action-profile {
        display: none;
    }
    .nav__burger {
        display: flex;
        position: relative;
    }
    .burger-element {
        width: 24px;
        height: 2px;
        background: black;
    }
    .burger-element::before {
        content: "";
        top: 4px;
        position: absolute;
        width: 24px;
        height: 2px;
        background: black;
    }
    .burger-element::after {
        content: "";
        bottom: 4px;
        position: absolute;
        width: 24px;
        height: 2px;
        background: black;
    }
}
