.slider {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
}

.slide {
    display: none;
    width: 100vw;
    height: 560px;
    background-size: contain;
    background-position: center;
}

.slide.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.prev {
    left: 10px;
}
.next {
    right: 10px;
}
